@keyframes color-change {
    0% {
        color: #fa0;
    }
    50% {
        color: #0c9;
    }
    100% {
        color: #fa0;
    }
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Fascinate Inline', Tahoma;
    animation: color-change 10s linear infinite both;
}