.service {
    width: 80px;
    text-align: center;
    border-left: 1px solid var(--white);
    vertical-align: baseline;
}

.service__name {
    font-size: 10px;
    margin-bottom: 4px;
}

.service__rating {
    color: var(--brown);
}