@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 1s fadein;
    margin: 30px auto;
    padding: 10px;
    border-radius: 2px;
    background: linear-gradient(45deg, var(--red), var(--pink));
    transition: 0.3s all ease-out;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    position: relative;
}

.tile__left,
.tile__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile__left {
    flex-grow: 1;
}

.tile__message {
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: var(--pink);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: 0.3s all ease-out;
    z-index: -1;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 10px;
    padding: 2px;
    opacity: 0;
}

.tile__message--visible {
    transform: translateY(100%);
    opacity: 1;
}

.tile--seen {
    background: linear-gradient(45deg, var(--green), #68a5b1);
}

.tile__rank {
    min-width: 60px;
    text-align: center;
}

.tile__rating {
    min-width: 80px;
    font-size: 30px;
}

.tile__title {
    font-size: 26px;
    flex-grow: 1;
}