body {
  background: linear-gradient(45deg, #FFE4B5, white);
  background-size: cover;
  background-attachment: fixed;
}

.app {
  text-align: center;
}

.app--pending,
.app--transition {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}